body {
	background-color: beige;
}
p{text-align: justify}
table{
	background-color: orange;
	text-align: left;
}

h2 {
	align-content: center;
	text-align: center;
}

img {
	align-self: center;
	
}

